@import "tailwindcss";

body {
  background-image: url('/images/background.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;

  color: #171717;
  font-family: var(--font-noto-serif-kr), serif;
  min-height: 100vh;
}